body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.content {
  margin: 0;
  padding: 0;
  background-image: url("/backgroundimage.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 0;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: auto;
}

.ant-layout-sider {
  position: fixed;
  top: 0;
  bottom: 0;
}

.ant-layout {
  display: flex;
}
